<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduOnline</title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/catalogoEspecialidades.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>

    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="index.html">EDUONLINE<span>.</span></a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="/">Home</a></li>
                    <li><a class="nav-link scrollto active" href="/catalogoEsp">Especialidades</a></li>
                    <li><a class="nav-link scrollto" href="#services">Precios</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Testimonios</a></li>
                    <li class="dropdown"><a href="#"><span>Noticias</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Programación</a></li>
                            <li><a href="#">Tecnología</a></li>
                            <li><a href="#">CS</a></li>
                            <li><a href="#">BBDD</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header> <!-- Fin Header -->

    <!--==== Especialidades y Cursos -->
    <main id="main">
        <div class="container">
            <div id="mobile-filter">
                <div>
                    <h6 class="p-1 border-bottom">Categorias</h6>
                    <ul>
                        <li th:each="especialidad: ${especialidades}">
                            <a href="#"><span th:text="${especialidad.nombre}">Desarrollo Web</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="mover">
                <section id="sidebar">
                    <div>
                        <h6 class="p-1 border-bottom">Categorias</h6>
                        <ul>
                            <li th:each="especialidad: ${especialidades}">
                                <a href="#"><span th:text="${especialidad.nombre}">Desarrollo Web</span></a>
                            </li>
                        </ul>
                    </div>
        
                </section>
                <section id="products">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">Python</p>
                                        <p>$90</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 offset-lg-0 col-sm-4 offset-sm-2 col-11 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="http://assets.stickpng.com/thumbs/62a86efa14a38cce0c371c11.png"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">Java</p>
                                        <p>$100</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png"
                                        alt="Card image cap">
                                    <div class="card-body subtitulo">
                                        <p class="card-text">HTML</p>
                                        <p>$950</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://images.unsplash.com/photo-1537182534312-f945134cce34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">Tree Trunk table set</p>
                                        <p>$390</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://images.pexels.com/photos/3230274/pexels-photo-3230274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">Red Leather Bar Stool</p>
                                        <p>$30</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://images.pexels.com/photos/3773571/pexels-photo-3773571.png?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">Modern Dining Table</p>
                                        <p>$740</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://images.pexels.com/photos/534172/pexels-photo-534172.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">Boring Dining Table</p>
                                        <p>$760</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
                                <div class="card"> <img class="card-img-top"
                                        src="https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text subtitulo">An Ugly Office</p>
                                        <p>$90</p> 
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Mantente al día</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Suscribirme">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>EduOnline<span>.</span></h3>
                        <p>
                            Alamos<br>
                            Pereira, Risaralda<br>
                            Colombia<br><br>
                            <strong>Telefono:</strong> +57 358 452 258<br>
                            <strong>Correo:</strong> contact@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Empresa</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contactanos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Precios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Testimonios</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Soporte</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Centro de ayuda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Términos de servicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Legal</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Politica de privacidad</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Estado</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociales</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- Fin Footer -->
</body>

</html>